#msg-box1-11 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-11 .mbr-article {
  color: #fff;
}
#header3-17 H3 {
  text-align: center;
}
#header3-18 H3 {
  text-align: center;
}
#msg-box2-21 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-21 .mbr-article {
  color: #252525;
}
